{% load user_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">

  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock title %}</title>
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/mycss.css' %}" rel="stylesheet" type="text/css">
  </head>



  <body>

	<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> 
				 <a class="navbar-brand" href="/">
				 	<svg height="32px" viewBox="0 0 32 32">  
				 		<image
					    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
						AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABjFBMVEX/////////////////
						////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////+nqavh4uLS09QkKS6UlplPU1eO
						kJP8/P1fY2eChIdcYGN4e37q6uttcHSIio2+v8G5urzw8PBHS1A6P0Pd3d7b3N3j4+R5fH/29/fD
						xMaXmZxdYGQ5PkJMUFTr7Ox0d3pFSU0sMTVkZ2uZm51qbXDKy8xrb3JLT1PNzs9YXGAqLzSgoqTI
						yctpbHAvNDn19fX29vZ2eXx/goVzdnmSlJdwc3YpLjNOUlZQVFgmKzCrra/f4OFlaWz39/j4+Ph8
						f4I0OT5ARUnT1NUlKi9CRktSVVn09PSbnqBaXmKLjpArMDWTlZivsbM1Oj6eoKKbnZ+Mj5HW19jL
						zM37+/soLTJZXWEyNjvP0NFMUFXa29yoqqxESEyho6WPkpQzOD2usLJz/N4FAAAAI3RSTlMADFeY
						yOn4JJv0CIj5iSPPMujqCdDR+pwNmuv1JYoK9liZyeT+oW0AAAABYktHRACIBR1IAAAAB3RJTUUH
						4wMfAjgZY64+wAAAAbBJREFUOMttk/VbwzAQhrNSmMCQQrsNBgwOOFyGu7u7u7u7wz9OZE/XNXw/
						Xe/9klxzF0JMOZQ4NT4hIV6NUxxEltPlBlNul9OGPYlJEKMkr8fKk1NAUoplk9Q0mRcUpqWax2sy
						L8Ji0CJ7pGfIHEqwFEBP5wavjMvKEbECwMsLNGRDJeVYBWCwQ1wSrq5hHMM09BHid9t5LQrVsRvz
						E0UuoL6B8cYm9qGQgFxBM0YNAaLacUsrWgwqybSwtvaOzq5IBdjdw1KZxGxSc29fP1o0IJpmGqrQ
						psGIIXLEkJ3jMIgjRJEjEh8VC1USGKvoHZ+QOE4KQ4AoUyIRno7hM7PCoNCrngvPLywuwTLLr6yu
						ja6zYEPwLD8hPhFu8oVbANvsZ2d2RNbH5km0exf39hEPqGHl8AiPBTeC5sCcTODpGa9sG/uW8VwY
						ssXI6Tx9QccMeDR/iVec6zmWob1GuMQWbri5Rd4ozWkd+yG8u0d8AHh82nvGF1pMdOzpHjq8Pr+9
						F7980IWnn1/fP7+gx7w+j9c2ukbs06MKurKiONcX/Od9O0J5+ZphaPl5Icvz/wOPrIYhJhw9QwAA
						ACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wMy0zMFQxODo1NjoyNSswODowMEoyLgkAAAAldEVYdGRh
						dGU6bW9kaWZ5ADIwMTktMDMtMzBUMTg6NTY6MjUrMDg6MDA7b5a1AAAAAElFTkSuQmCC" />
					</svg>
				 </a>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-left" role="search" method="get" action="/search">
					<div class="form-group">
						<input type="text" class="form-control" name="q"  placeholder="搜一下">
					</div> <button type="submit" class="btn btn-default" name="" value="搜索"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				</form>
				<ul class="nav navbar-nav">
					<li>
						 <a href="/">首页</a>
					</li>
					<li>
						 <a href="/">博客</a>
					</li>
					<li>
						 <a href="/photo">相册</a>
					</li>

					<li>
						 <a href="/snippets/1/">题库</a>
					</li>
					<li>
						 <a href="/python/">源码</a>
					</li>
					<li>
						 <a href="/note/">笔记</a>
					</li>
					<li>
						 <a href="/timeline">时间轴</a>
					</li>

				</ul>
				{# 导航右侧块 #}
				{% block navbar_right %}
				<ul class="nav navbar-nav navbar-right">
					<li>
						 <a href="#"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a>
					</li>
					<li class="dropdown">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus aria-hidden="true"></span><strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								 <a href="/atypes/add/">新建文库</a>
							</li>
							<li>
								 <a href="/atypes/add/">导入文库</a>
							</li>

							<li>
								 <a href="/article/add">写 文章</a>
							</li>
							<li>
								 <a data-toggle="modal" href="#newnote" onclick="$('#updatenote').hide()">新的灵感</a>
							</li>
							<li>
								 <a href="/atypes/add/">新建项目</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="@arry-lee" class="avatar float-left mr-1" src="{{user.email|gravatar_url:20}}" height="20" width="20"><strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								{% if user.username %}
								<a href="#">以 {{user.username}} 的身份登录</a>
								{% else %}
								<a href="#">当前以 访客 的身份浏览</a>
								<a href="/user/login">登录</a>
								<a href="/user/register">注册</a>
								{% endif %}
							</li>
							
							{% if user.username %}
							<li class="divider">
							</li>
							<li>
								 <a href="#">^_^ 修改状态</a>
							</li>
							<li class="divider">
							</li>								
							<li>
								 <a href="/user/profile">你的资料</a>
							</li>
							<li>
								 <a href="/article/all">你的文库</a>
							</li>
							<li>
								 <a href="/atypes/">你的项目</a>
							</li>
							<li>
								 <a href="#">你的收藏</a>
							</li>
							<li>
								 <a href="/note">你的灵感</a>
							</li>																					
							<li class="divider">
							</li>
							<li>
								 <a href="/help">帮助</a>
							</li>
							<li>
								 <a href="/user/setting">设置</a>
							</li>						
							<li>
								 <a href="/user/logout">退出</a>
							</li>
							{% endif%}									
						</ul>
					</li>
				</ul>
				{% endblock navbar_right %}
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-sm-2">
			
			<ul class="nav nav-list">
				<li class="nav-header">
					<span class="glyphicon glyphicon-book"></span>
					笔记本组
				</li>

			<div class="panel-group" id="panel1">
				{% for group in groups %}
				<div class="panel panel-default">
					<div class="panel-heading" style="padding:3px;">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel1" href="#panel-element-{{group.id}}">{{group}}</a><span class="Counter">{{group.notes.count}}</span>
						 {% if user.username %}<button type="button" class="close newgroup">+</button>{% endif %}
					</div>

					<div id="panel-element-{{group.id}}" class="panel-collapse collapse">
						<div class="panel-body">
							<li><a href="?group={{group}}">{{group}}</a><span class="Counter">{{group.notes.count}}</span></li>
							{% for g in group.kids%}
							<li><a href="?group={{g}}">{{g}}</a><span class="Counter">{{g.notes.count}}</span></li>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			<li class="nav-header">
				<span class="glyphicon glyphicon-tags"></span>
				标签
			</li>
			{% for tag in tags%}
			<span class="label"><a typr="button" href="?tag={{tag}}">{{tag}}</a></span>
			{% endfor %}

			{% if user.username %}
			<li class="divider">
			</li>
			<li>
				
				<a type='button' href="?group=trash"><span class="glyphicon glyphicon-trash"></span>回收站</a>
			</li>
			{% endif %}
				</ul>
			</div>


			<div class="col-sm-10" style="border-left: solid 2px #000;">
				<div class="nav-header">
					{% if user.username %}笔记预览{%else%}公开笔记{% endif %}
				</div>
				{% for note in notes|dictsort:'update_time'%}
					<div class="col-sm-12">
						<div class="thumbnail">	
							{% if user.username %}<button type="button" class="close delnote" aria-label="Close"><span aria-hidden="true">&times;</span><span class="hidden">{{note.id}}</span></button>{% endif %}

							<div class="caption" style="overflow:hidden;">
								<span class="hidden">{{note.id}}</span>
								<h5>
									<a href="#">{{note.title}}</a>
								</h5>
								<p>
									{{note.content|linebreaksbr}}
								</p>
							</div>
						</div>
						{% if note.is_delete %}
							<button class="undelnote">还原<span class="hidden">{{note.id}}</span></button>
						{% endif %}
					</div>
				{% empty %}
				<div class="text-center" style="padding-top: 120px">
					<p>空空如也</p>
				</div>
				{%endfor%}
			</div>
		</div>
	</div>

	{% if user.username %}
	<button class="btn-primary"style="background-color: lightblue;width: 50px;height:50px;border-radius: 25px;position: fixed;right: 50px;bottom: 50px" data-toggle="modal" href="#newnote" onclick="$('#updatenote').hide()"><span class="glyphicon glyphicon-edit"></span></button>
	{% endif %}

	{% csrf_token %}
	<div class="modal fade bs-example-modal-lg" id="newnote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="exampleModalLabel">新的灵感</h4>
		      </div>
		      <div class="modal-body">
		        <form>
		          <div class="form-group">
		            <label for="recipient-name" class="control-label">标题:</label>
		            <input type="text" class="form-control" id="notetitle">
		          </div>
		          <div class="form-group">
		            <label for="message-text" class="control-label">笔记:</label>
		            <textarea class="form-control" id="notecontent"></textarea>
		          </div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        {% csrf_token %}
		        <button type="button" class="btn btn-primary" id="savenote">保存</button>
		        <button type="button" class="btn btn-primary" id="updatenote">更新</button>
		      </div>
		    </div>
		  </div>
	
	<script type="text/javascript">
		$(function () {
			$('#savenote').on('click', function () {
				$title = $('#notetitle').val()
				$content = $('#notecontent').val()
				// 必须要有csrftoken认证
				csrf = $('input[name="csrfmiddlewaretoken"]').val()
			  	$.ajax({
				    url: '/notes/',
				    type: 'POST',
				    dataType: 'json',
				    headers:{'X-CSRFToken':csrf},
				    data:{'title':$title,'content':$content,'is_delete':false}
				})
				.done(function(data) {
				    $('#newnote').modal('hide');
				})
				.fail(function() {
				    alert('服务器超时，请重试！');
				});
			})

			$('.delnote').on('click', function () {
				$id = $(this).find('.hidden').text()
				// 必须要有csrftoken认证
				csrf = $('input[name="csrfmiddlewaretoken"]').val()
			  	$.ajax({
				    url: '/notes/'+$id+'/',
				    type: 'PATCH',
				    dataType: 'json',
				    headers:{'X-CSRFToken':csrf},
				    data:{'is_delete':true}
				})
				.done(function(data) {
				    // alert('修改成功！');
				})
				.fail(function() {
				    alert('删除失败！');
				});
				$(this).parent().remove()
			})

			$('.undelnote').on('click', function () {
				$id = $(this).find('.hidden').text()
				// 必须要有csrftoken认证
				csrf = $('input[name="csrfmiddlewaretoken"]').val()
			  	$.ajax({
				    url: '/notes/'+$id+'/',
				    type: 'PATCH',
				    dataType: 'json',
				    headers:{'X-CSRFToken':csrf},
				    data:{'is_delete':false}
				})
				.done(function(data) {
				    // alert('修改成功！');
				})
				.fail(function() {
				    alert('还原失败！');
				});

				$(this).parent().remove();
			})

			$('.caption').on('click', function () {
				$id = $(this).find('.hidden').text();
				$('#notetitle').val($(this).find('h5 a').text().trim());
				$('#notecontent').val($(this).find('p').text().trim());
				// 必须要有csrftoken认证
				$('#newnote').modal('show');
				$('#savenote').hide();
				$('#updatenote').show();
			})
			
			$('#updatenote').on('click', function () {
				$title = $('#notetitle').val();
				$content = $('#notecontent').val();
				// 必须要有csrftoken认证
				csrf = $('input[name="csrfmiddlewaretoken"]').val()
			  	$.ajax({
				    url: '/notes/'+$id+'/',
				    type: 'PUT',
				    dataType: 'json',
				    headers:{'X-CSRFToken':csrf},
				    data:{'title':$title,'content':$content}
				})
				.done(function(data) {
				    $('#newnote').modal('hide');
				})
				.fail(function() {
				    alert('服务器超时，请重试！');
				});
			})

		});	
	</script>
  </body>
</html>