{% extends 'base.html' %}
{% load card_tags %}
{% load staticfiles %}

{% block container %}
<div class="col-md-2">
	<li class="list-group-item">
		字典:<br>
		<div>
			{% for key in all %}
			<a href="#{{key}}"><code>{{key}}</code></a>
			{% endfor %}
		</div>
	</li>
</div>
<div class="col-md-8 col-sm-12">
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="btn-toolbar" role="toolbar" aria-label="...">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default btn-sm">
	  				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch
					</button>

					<button type="button" class="btn btn-default btn-sm">
	  				{{watch}}
					</button>
				</div>
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default btn-sm">
	  				<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Pin
					</button>
				</div>

				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default btn-sm">
	  				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
					</button>				
					<button type="button" class="btn btn-default btn-sm">
	  				<span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share
					</button>
				</div>
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default btn-sm" id="showdoc">
	  				隐藏文档
					</button>
				</div>
			</div>
		</div>
		<ul class="list-group">
		<li class="list-group-item">
			<div class="doc" >{{doc|linebreaksbr}}</div>
		</li>
		</ul>
		</div>

	<div class="panel panel-success">
		<div class="panel-heading">
		模块名:{{name}}.py
		</div>
		<div id="code">
		{{file|highlight_code:'python'|safe}}
		</div>

	</div>
</div>
<div class="col-md-2">
</div>
{% endblock container %}

{% block script %}
	<script type="text/javascript">
		$(function() {
			// 找到函数，将函数名设置为id
			$("#showdoc").click(function(){
				$('.doc').toggle();
				if ($(this).text() == '显示文档') {$(this).text('隐藏文档')} else {$(this).text('显示文档')}
			});

			$("span.nf,span.nc").each(function(i){
				$(this).attr('id',$(this).text())
		    });

		});   
	</script>

	<script type="text/javascript" src="{% static 'js/highlight.js' %}"></script>

{% endblock script %}