{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}阿锐-光影{% endblock title %}

{% block static %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/mycss.css' %}" rel="stylesheet" type="text/css">

	<style type="text/css">
	body {
		background-color: #005050;
	}
	.glyphicon-star {
		color: #F1C40F;
	}
	.glyphicon-heart {
		color: #E74C3C;
	}
	h4 {
		color: #fff;
	}
	</style>

{% endblock static %}



{% block container %}

<div class="container">
	<h4>浮光掠影</h4>
	<div class="row clearfix">
		{% for album in albums%}
		<div class="col-md-4 column">
			<div class="thumbnail">
				<img src="{{album.thumbnail.url}}" style="width:350px;height: 350px">
				<div class="caption">
					<h3>
						{{album.name}}
					</h3>
					<p>
						<span class="label label-info">{{album.logo}}</span>
					</p>
					<p>
						{{album.disc}}
					</p>
					<p>
						 <a class="btn btn-default" href="{{album.id}}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>详情</a> 
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock container %}

