{# 首页 注册 登录 #}
<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	{# 网页标题内容块 #}
	<title>{% block title %}{% endblock title %}</title>
	{# 网页顶部引入文件块 #}
    {% block topfiles %}
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/mycss.css' %}" rel="stylesheet" type="text/css">
	{% endblock topfiles %}
  </head>

  <body>
  	{# 网页顶部导航块 #}
  	{% block header_con %}
	<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> 
				 <a class="navbar-brand" href="/">
				 	<svg height="32px" viewBox="0 0 32 32">  
				 		<image
					    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
						AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABjFBMVEX/////////////////
						////////////////////////////////////////////////////////////////////////////
						//////////////////////////////////////////////////+nqavh4uLS09QkKS6UlplPU1eO
						kJP8/P1fY2eChIdcYGN4e37q6uttcHSIio2+v8G5urzw8PBHS1A6P0Pd3d7b3N3j4+R5fH/29/fD
						xMaXmZxdYGQ5PkJMUFTr7Ox0d3pFSU0sMTVkZ2uZm51qbXDKy8xrb3JLT1PNzs9YXGAqLzSgoqTI
						yctpbHAvNDn19fX29vZ2eXx/goVzdnmSlJdwc3YpLjNOUlZQVFgmKzCrra/f4OFlaWz39/j4+Ph8
						f4I0OT5ARUnT1NUlKi9CRktSVVn09PSbnqBaXmKLjpArMDWTlZivsbM1Oj6eoKKbnZ+Mj5HW19jL
						zM37+/soLTJZXWEyNjvP0NFMUFXa29yoqqxESEyho6WPkpQzOD2usLJz/N4FAAAAI3RSTlMADFeY
						yOn4JJv0CIj5iSPPMujqCdDR+pwNmuv1JYoK9liZyeT+oW0AAAABYktHRACIBR1IAAAAB3RJTUUH
						4wMfAjgZY64+wAAAAbBJREFUOMttk/VbwzAQhrNSmMCQQrsNBgwOOFyGu7u7u7u7wz9OZE/XNXw/
						Xe/9klxzF0JMOZQ4NT4hIV6NUxxEltPlBlNul9OGPYlJEKMkr8fKk1NAUoplk9Q0mRcUpqWax2sy
						L8Ji0CJ7pGfIHEqwFEBP5wavjMvKEbECwMsLNGRDJeVYBWCwQ1wSrq5hHMM09BHid9t5LQrVsRvz
						E0UuoL6B8cYm9qGQgFxBM0YNAaLacUsrWgwqybSwtvaOzq5IBdjdw1KZxGxSc29fP1o0IJpmGqrQ
						psGIIXLEkJ3jMIgjRJEjEh8VC1USGKvoHZ+QOE4KQ4AoUyIRno7hM7PCoNCrngvPLywuwTLLr6yu
						ja6zYEPwLD8hPhFu8oVbANvsZ2d2RNbH5km0exf39hEPqGHl8AiPBTeC5sCcTODpGa9sG/uW8VwY
						ssXI6Tx9QccMeDR/iVec6zmWob1GuMQWbri5Rd4ozWkd+yG8u0d8AHh82nvGF1pMdOzpHjq8Pr+9
						F7980IWnn1/fP7+gx7w+j9c2ukbs06MKurKiONcX/Od9O0J5+ZphaPl5Icvz/wOPrIYhJhw9QwAA
						ACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wMy0zMFQxODo1NjoyNSswODowMEoyLgkAAAAldEVYdGRh
						dGU6bW9kaWZ5ADIwMTktMDMtMzBUMTg6NTY6MjUrMDg6MDA7b5a1AAAAAElFTkSuQmCC" />
					</svg>
				 </a>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-left" role="search" method="get" action="/search">
					<div class="form-group">
						<input type="text" class="form-control" name="q"  placeholder="搜一下">
					</div> <button type="submit" class="btn btn-default" name="" value="搜索"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				</form>
				<ul class="nav navbar-nav">
					<li>
						 <a href="/">首页</a>
					</li>
					<li>
						 <a href="/">博客</a>
					</li>
					<li>
						 <a href="/photo">相册</a>
					</li>
				</ul>
				{# 导航右侧块 #}
				{% block navbar_right %}
				<ul class="nav navbar-nav navbar-right">
					<li>
						 <a href="#"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a>
					</li>
					<li class="dropdown">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus aria-hidden="true"></span><strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								 <a href="/atypes/add/">新建文库</a>
							</li>
							<li>
								 <a href="#">导入文库</a>
							</li>

							<li>
								 <a href="/article/add">写 文章</a>
							</li>
							<li>
								 <a href="#">新的灵感</a>
							</li>
							<li>
								 <a href="#">新建项目</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="@arry-lee" class="avatar float-left mr-1" src="{% static 'images/icon.png' %}" height="20" width="20"><strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								{% if user.username %}
								<a href="#">以 {{user.username}} 的身份登录</a>
								{% else %}
								<a href="#">当前以 访客 的身份浏览</a>
								<a href="/user/login">登录</a>
								<a href="/user/register">注册</a>
								{% endif %}
							</li>
							
							{% if user.username %}
							<li class="divider">
							</li>
							<li>
								 <a href="#">^_^ 修改状态</a>
							</li>
							<li class="divider">
							</li>								
							<li>
								 <a href="/user/profile">你的资料</a>
							</li>
							<li>
								 <a href="/article/all">你的文库</a>
							</li>
							<li>
								 <a href="/atypes/">你的项目</a>
							</li>
							<li>
								 <a href="#">你的收藏</a>
							</li>
							<li>
								 <a href="/note">你的灵感</a>
							</li>																					
							<li class="divider">
							</li>
							<li>
								 <a href="/help">帮助</a>
							</li>
							<li>
								 <a href="/user/setting">设置</a>
							</li>						
							<li>
								 <a href="/user/logout">退出</a>
							</li>
							{% endif%}									
						</ul>
					</li>
				</ul>
				{% endblock navbar_right %}
			</div>
		</div>
	</nav>
	{% endblock header_con %}

	{# 网站主体内容块 #}
	{% block container %}

	{% endblock container %}


    {# 网页底部html元素块 #}
    {% block bottom %}{% endblock bottom %}
    {# 网页底部引入文件块 #}
	{% block bottomfiles %}{% endblock bottomfiles %}
  </body>
</html>

