{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} clock {% endblock title %}

{% block container%}
<div id="timer">x</div>
{% endblock container%}



{% block bottomfiles %}
<script type="text/javascript">
    window.onload = function(){
        var oDiv = document.getElementById('timer');
        function timeleft(){
            var now = new Date();
            var future = new Date(2019,7,30,24,0,0);
            var lefts = parseInt((future-now)/1000);
            var day = parseInt(lefts/86400);
            var hour = parseInt(lefts%86400/3600);
            var min = parseInt(lefts%86400%3600/60);
            var sec = parseInt(lefts%60);
            str = '距离2019年7月30日晚24点还剩下'+day+'天'+hour+'时'+min+'分'+sec+'秒';
            oDiv.innerHTML = str; 
        }
        timeleft();
        setInterval(timeleft,1000);        
    }
</script>

{% endblock bottomfiles %}




