{% extends 'index_base.html' %}
{% load staticfiles %}
{% block panel-0 %}
	<h4 class="text-normal">最新动态</h4>
	<div class="row clearfix">	
		{% for article in new_articles %}
		<div class="col-md-6 column">
			<div class="article">
				<a class="title" href="article/{{article.id}}" >
					<h4>
					{{article.title}}
					</h4>
				</a>
				<div class="article-content">
					<p>
						{{article.content|striptags|linebreaksbr|cut:'#'}}
					</p>
				</div>

				<p>
			    <span class="pinned-item-meta py" style="background-color: {{article.tag.color}}"></span>
			    {{article.tag}}
				</p>
			
			<div style="text-align:right;font-size:12px;color:#666">
				<i>本文由 {{article.user}} 创建于 {{article.create_time}}
				<a href="article/{{article.id}}"> 更多&gt;&gt;&gt;</a></i>
			</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<h4 class="text-normal">近一年的贡献</h4>
	<div class="row clearfix">
		<div class="js-year-contribution">
			{% for activity in activitys reversed%}
			{% if forloop.counter0|divisibleby:52 %}
			<br>
			{% endif %}
			<span class='contrib-day' date='{{activity.activity_date}}' style="background-color: {{activity.activity_level}}"></span>
			{% endfor %}
		</div>
	</div>

	<h4 class="text-normal">最近活动</h4>
	<div class="row clearfix">
		<div class="col-md-10 column">
			<div class="row clearfix">
				<div class="col-md-1 column">
				</div>
				<div class="col-md-5 column">
					<ul>
						{% for article in articles|slice:':4' %}
						<li>
							{{article.title}}
						</li>
						{% endfor %}
					</ul>
				</div>

				<div class="col-md-6 column">

				</div>

			</div> <a type="button" class="btn btn-default btn-block" href="article/all">显示更多</a>
		</div>
		<div class="col-md-2 column">
			 <a type="button" class="btn btn-default btn-block btn-primary" href="archive/2019">2019</a>
			 <a type="button" class="btn btn-default btn-block btn-normal" href="archive/2018">2018</a>
		</div>
	</div>
{% endblock panel-0 %}

{% block panel-1 %}
	<h4 class="text-normal">文章列表</h4>
	<div class="row clearfix">	
		<div class="col-md-12 column article">
			<ul>
				{% for article in articles %}
				<li>
				<a class="title" href="/article/{{article.id}}" >
					{{article.title}}
				</a>
				</li>
				{% endfor %}
			</ul>
		
			<nav aria-label="Page navigation example">
			    <ul class="pagination pagination-sm">

			        {% if articles.has_previous %}
			            <li class="page-item"><a href="?page=1">首页</a></li>
			            <li class="page-item"><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
			        {% else %}
			            <li class="page-item disabled"><span class="page-link">首页</span></li>
			            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>			        
			        {% endif %}
     				
     				{% for p in page_list %}
     					{% if p == articles.number %}
     						<li class="page-item active"><span class="page-link">{{p}}</span></li>
     					{% else %}
			       			<li class="page-item "><a href="?page={{p}}">{{p}}</a></li>
			       		{% endif %}
			  		{% endfor %}

			        {% if articles.has_next %}
			            <li class="page-item"><a href="?page={{ articles.next_page_number }}"> &raquo;</a></li>
			            <li class="page-item"><a href="?page={{ articles.paginator.num_pages }}">尾页</a></li>
			        {% else %}
			    		<li class="page-item disabled"><span class="page-link"> &raquo;</span></li>
			            <li class="page-item disabled"><span class="page-link">尾页</span></li>
			        {% endif %}
			    </ul>
			</nav>

		</div>
	</div>
{% endblock panel-1 %}

{% block panel-2 %}
	<h4 class="text-normal">项目列表</h4>
	<div class="row clearfix">	
		<div class="col-md-12 column article">
			<ul>
				{% for type in types %}
				<li>
				<a class="title" href="article/{{type.logo}}/" >
					{{type}}
				</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock panel-2 %}

