{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}阿锐的歌单-首页{% endblock title %}

	{# 网页顶部导航块 #}
	{% block header_con %}
<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> 
			 <a class="navbar-brand" href="/">
			 	<svg height="32px" viewBox="0 0 32 32">  
			 		<image
				    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
					AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABjFBMVEX/////////////////
					////////////////////////////////////////////////////////////////////////////
					//////////////////////////////////////////////////+nqavh4uLS09QkKS6UlplPU1eO
					kJP8/P1fY2eChIdcYGN4e37q6uttcHSIio2+v8G5urzw8PBHS1A6P0Pd3d7b3N3j4+R5fH/29/fD
					xMaXmZxdYGQ5PkJMUFTr7Ox0d3pFSU0sMTVkZ2uZm51qbXDKy8xrb3JLT1PNzs9YXGAqLzSgoqTI
					yctpbHAvNDn19fX29vZ2eXx/goVzdnmSlJdwc3YpLjNOUlZQVFgmKzCrra/f4OFlaWz39/j4+Ph8
					f4I0OT5ARUnT1NUlKi9CRktSVVn09PSbnqBaXmKLjpArMDWTlZivsbM1Oj6eoKKbnZ+Mj5HW19jL
					zM37+/soLTJZXWEyNjvP0NFMUFXa29yoqqxESEyho6WPkpQzOD2usLJz/N4FAAAAI3RSTlMADFeY
					yOn4JJv0CIj5iSPPMujqCdDR+pwNmuv1JYoK9liZyeT+oW0AAAABYktHRACIBR1IAAAAB3RJTUUH
					4wMfAjgZY64+wAAAAbBJREFUOMttk/VbwzAQhrNSmMCQQrsNBgwOOFyGu7u7u7u7wz9OZE/XNXw/
					Xe/9klxzF0JMOZQ4NT4hIV6NUxxEltPlBlNul9OGPYlJEKMkr8fKk1NAUoplk9Q0mRcUpqWax2sy
					L8Ji0CJ7pGfIHEqwFEBP5wavjMvKEbECwMsLNGRDJeVYBWCwQ1wSrq5hHMM09BHid9t5LQrVsRvz
					E0UuoL6B8cYm9qGQgFxBM0YNAaLacUsrWgwqybSwtvaOzq5IBdjdw1KZxGxSc29fP1o0IJpmGqrQ
					psGIIXLEkJ3jMIgjRJEjEh8VC1USGKvoHZ+QOE4KQ4AoUyIRno7hM7PCoNCrngvPLywuwTLLr6yu
					ja6zYEPwLD8hPhFu8oVbANvsZ2d2RNbH5km0exf39hEPqGHl8AiPBTeC5sCcTODpGa9sG/uW8VwY
					ssXI6Tx9QccMeDR/iVec6zmWob1GuMQWbri5Rd4ozWkd+yG8u0d8AHh82nvGF1pMdOzpHjq8Pr+9
					F7980IWnn1/fP7+gx7w+j9c2ukbs06MKurKiONcX/Od9O0J5+ZphaPl5Icvz/wOPrIYhJhw9QwAA
					ACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wMy0zMFQxODo1NjoyNSswODowMEoyLgkAAAAldEVYdGRh
					dGU6bW9kaWZ5ADIwMTktMDMtMzBUMTg6NTY6MjUrMDg6MDA7b5a1AAAAAElFTkSuQmCC" />
				</svg>
			 </a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left" role="search" method="get" action="/search">
				<div class="form-group">
					<input type="text" class="form-control" name="q"  placeholder="搜一下">
				</div> <button type="submit" class="btn btn-default" name="" value="搜索"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</form>
			<ul class="nav navbar-nav">
				<li>
					 <a href="#"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
				</li>					
				<li>
					 <a href="#"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
				</li>
				<li>
					 <a href="#"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
				</li>	
				<li>
					 <a href="#"><span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span></a>
				</li>
				<li>
					 <a href="#"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></a>
				</li>
				<li>
					<div class="progress" style="margin-top: 22px;border-radius: 0;width:200px;height: 5px;display: inline-block;">
					  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;background-color:gold;">
					    <span class="sr-only">40% Complete (success)</span>
					  </div>
					</div>
				</li>
				<li>
					<a  href="#" class="progress-time">00:00/00:00</a>
				</li>											
			</ul>

			{# 导航右侧块 #}
			{% block navbar_right %}
<!-- 				<ul class="nav navbar-nav navbar-right">
				<li>
					 <a href="#"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a>
				</li>
				<li class="dropdown">
					 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus aria-hidden="true"></span><strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							 <a href="/article/edit">新建文库</a>
						</li>
						<li>
							 <a href="#">导入文库</a>
						</li>
						<li>
							 <a href="#">写 文章</a>
						</li>
						<li>
							 <a href="#">新的灵感</a>
						</li>
						<li>
							 <a href="#">新建项目</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="@arry-lee" class="avatar float-left mr-1" src="{% static 'images/icon.png' %}" height="20" width="20"><strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							 <a href="#">以 arry-lee 的身份登录</a>
						</li>
						<li class="divider">
						</li>
						<li>
							 <a href="#">^_^ 修改状态</a>
						</li>
						<li class="divider">
						</li>								
						<li>
							 <a href="#">你的资料</a>
						</li>
						<li>
							 <a href="#">你的文库</a>
						</li>
						<li>
							 <a href="#">你的项目</a>
						</li>
						<li>
							 <a href="#">你的收藏</a>
						</li>
						<li>
							 <a href="#">你的灵感</a>
						</li>																					
						<li class="divider">
						</li>
						<li>
							 <a href="#">帮助</a>
						</li>
						<li>
							 <a href="#">设置</a>
						</li>						
						<li>
							 <a href="#">退出</a>
						</li>										
					</ul>
				</li>
			</ul> -->
			{% endblock navbar_right %}
		</div>
	</div>
</nav>
{% endblock header_con %}

{% block container%}

<audio src="{% static 'source/audio.mp3' %}"></audio>





{% endblock container%}



{% block bottomfiles %}
<script type="text/javascript">
	$(function() {
		var audio = $('audio')[0];

		$('.glyphicon-play').click(function(){
			$(this).toggleClass("glyphicon-pause")

			if (audio.paused) {
	        	// 开始播放当前点击的音频
		        audio.play();
		        // 暂停其他正在播放的音频
		        var audios = $('audio');
		        for (var i = 0; i < audios.length; i++) {
		            if (i != index && !audios[i].paused) {
		                audios[i].pause();
		            }
		        }
		    } else {
		        audio.pause();
		    }
		})

		// 监听音频播放时间并更新进度条
		audio.addEventListener('timeupdate', function () {
		    updateProgress(audio);
		}, false);

		//更新进度条与当前播放时间
		function updateProgress(audio) {
		    var value = audio.currentTime / audio.duration;
		    $('.progress-bar').css('width', value * 100 + '%');
		    $('.progress-time').html(transTime(audio.currentTime)+'/'+ transTime(audio.duration));
		}

		//音频播放时间换算
		function transTime(value) {
		    var time = "";
		    var h = parseInt(value / 3600);
		    value %= 3600;
		    var m = parseInt(value / 60);
		    var s = parseInt(value % 60);
		    if (h > 0) {
		        time = formatTime(h + ":" + m + ":" + s);
		    } else {
		        time = formatTime(m + ":" + s);
		    }

		    return time;
		}

		/**
		 * 格式化时间显示，补零对齐
		 * eg：2:4  -->  02:04
		 * @param {string} value - 形如 h:m:s 的字符串 
		 */
		function formatTime(value) {
		    var time = "";
		    var s = value.split(':');
		    var i = 0;
		    for (; i < s.length - 1; i++) {
		        time += s[i].length == 1 ? ("0" + s[i]) : s[i];
		        time += ":";
		    }
		    time += s[i].length == 1 ? ("0" + s[i]) : s[i];

		    return time;
		}

		// 监听播放完成事件
		audio.addEventListener('ended', function () {
		    audioEnded();
		}, false);

		/**
		 * 播放完成时把进度调回开始的位置
		 */
		function audioEnded() {
		    $('.progress-bar').css('width', 0);
		}

		$('.glyphicon-volume-off').click(function(){
			$(this).toggleClass("glyphicon-volume-up");
			audio.muted = !audio.muted;
		})

	})

</script>

{% endblock bottomfiles %}




