{% extends 'article/article_base.html' %}
{% load card_tags %}
{% block middle %}
	<div class="page-header">
	  <h1>{{article.title}} </h1>
	</div>

	<p class="text-right"><small >@{{article.user}}</small></p>
	
	<p class="text-right">
	{% for tag in article.tags.all %}
 	<span class="label" style="background-color:{{tag.color}}">{{tag.name}}</span>
 	{% endfor %}
	</p>
	{{article.content|safe}}
	<hr>
	<div class="row text-center">
        <div class="col-sm-6">
        	{% if prev %}
        	<a class="title" href="{{prev.get_absolute_url}}" >上一篇:{{prev.title}}</a>
        	{% else %}
        	上一篇:没有了
        	{% endif %}
        </div>
        <div class="col-sm-6">
        	{% if next %}
        	<a class="title" href="{{next.get_absolute_url}}" >下一篇:{{next.title}}</a>
        	{% else %}
        	下一篇:没有了
        	{% endif %}
        </div>
    </div>
	<hr>
	{% load comments %}
	<h4><strong>相关评论</strong></h4>
	{% render_comment_list for article %}
	<h4><strong>发表评论</strong></h4>
	{% render_comment_form for article %}
{% endblock middle %}

{% block right %}
<div class="sidebar hidden-print hidden-xs hidden-sm">
	{% ifnotequal article.toc|length 35 %}
	<h4><strong>目录</strong></h4>
	{{ article.toc|safe }}
	{% endifnotequal %}
</div> 
{% endblock%}




{% block script %}
<script type="text/javascript">
	$(function () {
	  $('table').addClass('table table-striped well');	
	  $('.toc').addClass('tree'); // 把 toc 变成 tree
	  // 找到有子节点的节点，在其内部后面加上控制点击图标
	  $('.tree li:has(ul)').addClass('parent_li').prepend('<span class="glyphicon glyphicon-plus-sign"></span>'); 
	  $('.tree li.parent_li').find(' > ul > li').hide();//有子元素就把子元素隐藏起来

	  $('.tree li.parent_li > span').on('click', function (e) {
	  	// 切换子元素的状态
	    var children = $(this).parent('li.parent_li').find(' > ul > li');
	    
	    $(this).parent('li.parent_li').siblings().find(' > ul > li').hide('fast');
	    $(this).parent('li.parent_li').siblings().find(' > span').addClass('glyphicon-plus-sign').removeClass('glyphicon-minus-sign');

	    if (children.is(":visible")) {
	      children.hide('fast');
	      $(this).addClass('glyphicon-plus-sign').removeClass('glyphicon-minus-sign');

	    } else {
	      children.show('fast');
	      $(this).addClass('glyphicon-minus-sign').removeClass('glyphicon-plus-sign');

	    }

	    e.stopPropagation();

	  });

	});
	</script>

{% endblock %}
