{% extends 'index_base.html' %}
{% block container %}
<form action="{% url 'article:article-add'%}" method="post">
	{% csrf_token %}

	{% for hidden in form.hidden_fields %}
	{{hidden}}
	{% endfor %}

<!-- 	{% for field in form.visible_fields %}
		<div class="fieldWrapper">
			{{ field.errors }}
			{{ field.label_tag }} 
			{{ field }}
			{% if field.help_text %}
			<p class="help">{{ field.help_text|safe }}</p>
			{% endif %}
		</div>
	{% endfor %} -->

	{{ form.media }}
	
    {{ form.as_p }}

	<input type="submit" value="保存" />
</form>
{% endblock container %}