{% extends 'index_base.html' %}
{% block container %}

<form action="{% url 'article:atypes-add'%}" method="post">
	{% csrf_token %}

	{% for hidden in form.hidden_fields %}
	{{hidden}}
	{% endfor %}

	{% for field in form.visible_fields %}
		<div class="fieldWrapper">
			{{ field.errors }}
			{{ field.label_tag }} 
			{{ field }}
			{% if field.help_text %}
			<p class="help">{{ field.help_text|safe }}</p>
			{% endif %}
		</div>
	{% endfor %}
	<input type="submit" value="Submit" />
</form>

{% endblock container %}