{% extends 'base.html' %}
{% block container %}
<div class="col-md-1">
</div>
<div class="col-md-10 col-sm-12">
<form class="form-control" action="{% url 'article:article-add'%}" method="post">
	{% csrf_token %}

	{% for hidden in form.hidden_fields %}
	{{hidden}}
	{% endfor %}

	<div class="form-group">
	<label>标题</label>
	{{ form.title }}
	</div>

	<div class="form-group">
	<label>标签</label>
	{{ form.tags }}
	</div>

	<div class="form-group">
	<label>类别</label>
	{{ form.type }}
	</div>

	<div class="form-group">
	{{ form.media }}
	{{ form.content }}
	</div>

    {{ form.user.as_hidden }}
	<input class="btn btn-default btn-normal" type="submit" value="保存" />
	<!-- <a class="btn btn-default btn-normal" type="button" href="#">保存草稿</a> -->
</form>
</div>
<div class="col-md-1">
</div>
{% endblock container %}