{% extends 'user/base.html' %}
{% load staticfiles %}
{% block title %}阿锐博客-登录{% endblock title %}


{% block middle %}

<form class="form-signin" action="{% url 'user:login' %}" method="post" style="background-color: white">
    {% csrf_token %}
    <!-- {{ form.non_field_errors }} -->
    {% for field in form %}
    <div class="form-group">
        <label>{{ field.label}}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}

    <input type="hidden" name="next" value="{{ redirect_to }}">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> 记住我
        </label>
    </div>

    <button class="btn btn-default" type="submit">登录</button>
</form>

{{ errmsg }}
{% endblock middle %}