{% extends 'user/base.html' %}
{% load staticfiles %}
{% block title %}阿锐博客-注册{% endblock title %}

{% block middle %}
<form class="form-signin form-horizontal" action="{% url 'user:register' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        <label>{{field.label}}</label>
        {{field}}
        {{ field.errors }}
    </div>
    {% endfor %}


    <button class="btn btn-default" type="submit">注册</button>
    <a href="{% url "user:login" %}">登录</a>
</form>
    


{{ errmsg }}
{% endblock middle %}
